# Dependencies
node_modules/
package-lock.json

# Environment
.env
.env.local
.env.production.local

# Build
build/
dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
